In [ ]:
import os
# Find the latest version of spark 2.0  from http://www-us.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.0'
spark_version = 'spark-3.0.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Ign:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [697 B]
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:6 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:8 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:9 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:11 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [44.8 kB]
Hit:12 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:14 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Ign:16 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages
Get:16 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [552 kB]
Get:17 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,729 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,352 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,157 kB]
Get:20 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [885 kB]
Fetched 7,992 kB in 4s (2,244 kB/s)
Reading package lists... Done

In [6]:
import pandas as pd
VineReview = pd.read_csv("vine_table.csv")

In [7]:
VineReview.head()

        review_id  star_rating  ...  vine  verified_purchase
0  R26MV8D0KG6QI6          5.0  ...     N                  Y
1  R1OF8GP57AQ1A0          5.0  ...     N                  Y
2  R3VDC1QB6MC4ZZ          5.0  ...     N                  N
3  R12FA3DCF8F9ER          5.0  ...     N                  Y
4   RTWHVNV6X4CNJ          5.0  ...     N                  Y

[5 rows x 6 columns]

In [66]:
VineReview.count()

review_id            2402458
star_rating          2402431
helpful_votes        2402431
total_votes          2402431
vine                 2402431
verified_purchase    2402431
dtype: int64

In [11]:
#Filter the data and create a new DataFrame or table to retrieve all the rows where the total_votes count is equal to or greater than 20
filter_vine_df = VineReview[VineReview["total_votes"]>= 20] 
filter_vine_df

              review_id  star_rating  ...  vine  verified_purchase
145      R1OAZUG90XPU2U          5.0  ...     N                  Y
157      R23VPTUJ8I8NR5          1.0  ...     N                  Y
1103     R33VIWRD2X5IA9          1.0  ...     N                  Y
1115      R6SRJFJ5YH4UM          5.0  ...     N                  Y
1309     R3DOS07BIMP4DJ          2.0  ...     N                  N
...                 ...          ...  ...   ...                ...
2402413  R1IQNIT2UFQE97          5.0  ...     N                  N
2402422   RIQSTVHD4MQHH          5.0  ...     N                  N
2402425   RZOSXUI2V2LO7          5.0  ...     N                  N
2402441  R2XP1RFUXZWU9B          5.0  ...     N                  N
2402442  R1L2H6IJHX7Q6F          5.0  ...     N                  N

[31518 rows x 6 columns]

In [14]:
# Filter the new DataFrame or table created in Step 1 and create a new DataFrame or table to retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.
#helpful_review = filter_vine_df[filter_vine_df[["total_votes"]/["helpful_votes"], "helpful_votes"]>=50%]
helpful_review = filter_vine_df.filter(filter_vine_df['helpful_votes']/filter_vine_df['total_votes'] >= 0.5)
helpful_review

Empty DataFrame
Columns: []
Index: [145, 157, 1103, 1115, 1309, 1488, 2371, 2418, 2854, 3268, 3406, 3635, 3740, 3820, 4148, 4170, 4466, 4505, 4593, 4656, 4835, 5087, 5722, 5943, 6191, 6263, 6480, 6765, 7069, 7495, 7784, 7860, 8132, 8363, 8534, 8918, 9064, 9236, 9260, 9879, 10152, 10175, 10184, 10297, 10597, 10665, 10751, 10811, 11022, 11314, 12088, 12256, 12334, 12795, 12963, 13464, 13801, 13884, 13920, 13938, 14409, 14758, 14972, 15104, 15604, 15772, 15792, 16015, 16377, 16557, 16566, 16952, 17001, 17077, 17186, 17478, 17657, 17918, 18152, 18501, 18554, 18876, 19119, 19133, 19144, 19169, 19424, 19645, 19690, 19755, 20278, 20361, 20518, 20910, 21069, 21195, 21256, 21536, 21803, 21853, ...]

[31518 rows x 0 columns]

In [25]:


VineReview_paid = VineReview[VineReview['vine']=='Y']

In [26]:

VineReview_unpaid = VineReview[VineReview['vine']=='N']

In [30]:
#Determine the total number of reviews
total_reviews = VineReview["total_votes"].count()
total_reviews

2402431

In [44]:
#the number of 5-star reviews,
totalfivestarreviews = VineReview[VineReview["star_rating"]==5.0]["total_votes"].count()
totalfivestarreviews

1662248

In [73]:
totalpaidfivestarreviews = VineReview_paid[VineReview_paid["star_rating"]==5.0]["review_id"].count()
totalpaidfivestarreviews

5657

In [74]:
totalunpaidfivestarreviews = VineReview_unpaid[VineReview_unpaid["star_rating"]==5.0]["review_id"].count()
totalunpaidfivestarreviews

1656591

In [59]:
percentpaid= (totalpaidfivestarreviews / totalfivestarreviews) *100
percentpaid

0.34032226238202723

In [61]:
percentunpaid= (totalunpaidfivestarreviews / totalfivestarreviews) *100
percentunpaid

99.65967773761797

In [62]:
VineReview_paid[VineReview_paid["star_rating"]==5.0]

              review_id  star_rating  ...  vine  verified_purchase
559      R37HYU6L7KWNSR          5.0  ...     Y                  N
1493     R1R0XMH6L7GZ2N          5.0  ...     Y                  N
2089     R1EXTABDOCQYWA          5.0  ...     Y                  N
2857     R2Q1VV24X6F4HD          5.0  ...     Y                  N
3261     R12MLCDKNWH1YO          5.0  ...     Y                  N
...                 ...          ...  ...   ...                ...
2359158   RFK4I6257PQM4          5.0  ...     Y                  N
2359353  R1239YHERCCMXB          5.0  ...     Y                  N
2359565  R263UQF83SRBR6          5.0  ...     Y                  N
2359734   RG1RPDIGSMN8I          5.0  ...     Y                  N
2359961  R2OFDRDYEH3NYS          5.0  ...     Y                  N

[5657 rows x 6 columns]

In [67]:
#totalbuyreviews = VineReview[[VineReview['verified_purchase']=='Y']["total_votes"]].count()
#totalbuyreviews

TypeError: ignored

In [70]:
verifiedpurchase = VineReview[VineReview['verified_purchase']=='Y']
verifiedpurchase.count()

review_id            1977784
star_rating          1977784
helpful_votes        1977784
total_votes          1977784
vine                 1977784
verified_purchase    1977784
dtype: int64

In [71]:
unverifiedpurchase = VineReview[VineReview['verified_purchase']=='N']
unverifiedpurchase.count()

review_id            424647
star_rating          424647
helpful_votes        424647
total_votes          424647
vine                 424647
verified_purchase    424647
dtype: int64

In [72]:
#percentage total reviews as 5 star
fivestarpercent= (totalfivestarreviews / total_reviews) *100
fivestarpercent

69.19024937656899